@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* .material-symbols-outlined {
  display: flex;
  align-items: center;
  margin-top: -60px;
  z-index: 999;
  margin-right: 20px;
  cursor: pointer;
  justify-content: flex-end;
} */

.header {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #212121 20%, #002 80%);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBtn {
  background: none;
  border-radius: 25px;
  /* background-color: #ddd; */
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.headerBtnGroup {
  display: flex;
  gap: 15px;
}

.navBtn a {
  text-decoration: none;
  color: #e4e4e4;
  position: relative;
}

.headerBtnGroup .navBtn a {
  padding: 5px;
  display: block;
  position: relative;
}

.headerBtnGroup:hover .navBtn a {
  opacity: 0.3;
}

/* .navBtn:hover {
  opacity: 0.3;
} */
.headerBtnGroup .navBtn a:hover {
  transition: 0.2s;
  opacity: 1;
  transform: scale(1.2);
}

.headerBtnGroup .navBtn a::before {
  border-radius: 4px;
  background-color: #e4811e;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.2s;
}

.headerBtnGroup .navBtn a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.2s;
}

/* .navBtn a::after {
  position: absolute;
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #e4811e;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.navBtn a:hover::after {
  width: 100%;
  color: #e4811e;
} */

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
}
.hamburguer-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: rgb(12, 12, 12);
  margin-bottom: 4px;
}

@media (max-width: 600px) {
  .hamburguer-menu {
    display: block;
    z-index: 999;
    /* Definindo um valor alto para garantir que fique acima dos outros elementos */
  }

  /* .headerBtnGroup {
    display: none;
    position: absolute;
    top: 100px;
    right: 0px;
    background-color: #97adf5;
    width: 40%;
    padding: 10px 0;
  }

  .headerBtnGroup button {
    margin: 0;
  } */

  .menu button a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }

  .menu button:hover {
    background-color: #777;
  }

  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
